{{ header }}
<div class="container">
    {% include('aviator/template/common/breadcrumb.twig') %}
</div>

<div class="account" id="account-account">
    <div class="container">
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="dflex">
            <div class="col-left">
                {{ column_left }}
            </div>
            <div class="col-right" id="content">
                <div class="head">
                    <h1>{{ heading_title }}</h1>
                    <div class="status"
                         style="background:#{{ status.bg_color }};color: #{{ status.txt_color }}">{{ status.name }}</div>
                </div>
                <div class="block_order_info">
                    <div class="head">{{ text_order_detail }}</div>
                    <div class="table">
                        <div class="table_row">
                            <div class="col1">{{ text_order_id }}</div>
                            <div class="col2">№{{ order_id }}</div>
                        </div>
                        <div class="table_row">
                            <div class="col1">{{ text_date_added }}</div>
                            <div class="col2">{{ date_added }}</div>
                        </div>
                        <div class="table_row">
                            <div class="col1">{{ text_payment_method }}</div>
                            <div class="col2">{{ payment_method }}</div>
                        </div>
                    </div>
                </div>
                <div class="block_order_info">
                    <div class="head">{{ text_shipping }}</div>
                    <div class="table">
                        <div class="table_row">
                            <div class="col1">{{ text_shipping_method }}</div>
                            <div class="col2">{{ shipping_method }}</div>
                        </div>
                        {% if shipping_city %}
                            <div class="table_row">
                                <div class="col1">{{ text_city }}</div>
                                <div class="col2">{{ shipping_city }}</div>
                            </div>
                        {% endif %}
                        {% if shipping_address_1 %}
                            <div class="table_row">
                                <div class="col1">{{ text_shipping_address_1 }}</div>
                                <div class="col2">{{ shipping_address_1 }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if comment %}
                    <div class="block_order_info">
                        <div class="head">{{ text_comment }}</div>
                        <div class="table">
                            <div class="table_row comment">
                                {{ comment }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if products %}
                    <div class="block_order_info">
                        <div class="head">
                            {{ text_products }}
                            <div class="count_products">{{ count_products }}</div>
                        </div>
                        <div class="table products">
                            {% for product in products %}
                                <div class="product">
                                    <div class="image"><img src="{{ product.image }}"/></div>
                                    <div class="product_info">
                                        <div class="name">
                                            {{ product.name }}
                                            <div class="wishlist" onclick="wishlist.add('{{ product.product_id }}');">
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.7096 7.26666C17.7096 8.23333 17.343 9.20833 16.6013 9.95L15.368 11.1833L10.0596 16.4917C10.0346 16.5167 10.0263 16.525 10.0013 16.5417C9.9763 16.525 9.96797 16.5167 9.94297 16.4917L3.4013 9.95C2.65964 9.20833 2.29297 8.24166 2.29297 7.26666C2.29297 6.29166 2.65964 5.31667 3.4013 4.575C4.88464 3.1 7.28463 3.1 8.76797 4.575L9.99297 5.80833L11.2263 4.575C12.7096 3.1 15.1013 3.1 16.5846 4.575C17.343 5.31667 17.7096 6.28333 17.7096 7.26666Z"
                                                          stroke="black" stroke-width="1.5" stroke-linecap="round"
                                                          stroke-linejoin="round"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="model">{{ product.model }}</div>
                                        <div class="options">
                                            {% if product.option %}
                                                {% for option in product.option %}
                                                    <div class="option">{{ option.value }}</div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="total">{{ product.total }}</div>
                                        {% if product.quantity > 1 %}
                                            <div class="price">{{ text_product_one }}{{ product.price }}</div>
                                        {% endif %}
                                        <a href="{{ product.return }}" class="btn-return">{{ button_return }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if totals %}
                    <div class="block_order_info totals">
                        <div class="table">
                            {% for total in totals %}
                                <div class="table_row">
                                    <div class="col1">{{ total.title }}</div>
                                    <div class="col2">{{ total.text }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{{ footer }}