{{ header }}
<div  class="container">
  {% include('aviator/template/common/breadcrumb.twig') %}
</div>
<div class="account" id="account-return-form">
  <div  class="container">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="dflex">
      <div class="col-left">
        {{ column_left }}
      </div>
      <div class="col-right">
        <div class="head">
          <h1>{{ heading_title }}</h1>
        </div>
        <div class="form_return" id="onepcheckout">
          <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset>
              <div class="form-group form-group-error required">
                <input id="input-opc-firstname" type="text" name="firstname" value="{{ firstname }}" class="form-checkout focus">
                <div class="float-label">{{ entry_firstname }} <span>*</span></div>
                <div class="form-error">
                  {% if error_firstname %}{{ error_firstname }}{% endif %}
                </div>
              </div>
              <div class="form-group form-group-error required">
                <input id="input-opc-lastname" type="text" name="lastname" value="{{ lastname }}" class="form-checkout focus">
                <div class="float-label">{{ entry_lastname }} <span>*</span></div>
                <div class="form-error">{% if error_lastname %}{{ error_lastname }}{% endif %}</div>
              </div>
              <div class="form-group form-group-error required">
                <input id="input-opc-email" type="text" name="email" value="{{ email }}" class="form-checkout focus">
                <div class="float-label">{{ entry_email }} <span>*</span></div>
                <div class="form-error">{% if error_email %}{{ error_email }}{% endif %}</div>
              </div>
              <div class="form-group form-group-error required">
                <input id="input-opc-telephone" type="text" name="telephone" placeholder="+380 (XX) XXX-XX-XX"  value="{{ telephone }}" class="form-checkout focus">
                <div class="float-label">{{ entry_telephone }} <span>*</span></div>
                <div class="form-error">{% if error_telephone %}{{ error_telephone }}{% endif %}</div>
              </div>
              <div class="form-group form-group-error required">
                <input id="input-opc-order_id" type="text" name="order_id" value="{{ order_id }}" class="form-checkout focus">
                <div class="float-label">{{ entry_order_id }} <span>*</span></div>
                <div class="form-error">{% if error_order_id %}{{ error_order_id }}{% endif %}</div>
              </div>
              <div class="form-group date">
                <input id="input-opc-date_ordered" type="text" name="date_ordered" value="{{ date_ordered }}" data-date-format="YYYY-MM-DD"  class="form-checkout focus">
                <div class="float-label">{{ entry_date_ordered }} <span>*</span></div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <input id="input-related" type="text" name="related_search" value=""  class="form-checkout focus">
                <div class="float-label">{{ entry_product }} </div>
                <div class="form-error">
                  {% if error_product %}{{ error_product }}{% endif %}
                </div>
                <div id="product-related" class="well well-sm" style="height: 150px; overflow: auto;">
                  {% for product in products %}
                    <div id="product-related{{ product.product_id }}"><i class="fa fa-minus-circle"></i>
                      <input type="hidden" name="products[{{ product.product_id }}][product_id]" value="{{ product.product_id }}"/>
                      <span>{{ product.name }}</span>
                      <input type="text" name="products[{{ product.product_id }}][quantity]" value="{{ product.quantity }}" class="quantity"/>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </fieldset>

            <h4>{{ entry_reason }}</h4>
            <fieldset>
              <div class="form-group">
                <div id="return_reason">
                  {% for return_reason in return_reasons %}
                    <div class="radio">
                      <label class="chm-radio">
                        <input class="checkbox-input" type="radio" name="return_reason_id" value="{{ return_reason.return_reason_id }}"  {% if return_reason.return_reason_id == return_reason_id %}checked="checked"{% endif %}>
                        <span class="checkbox-radio"></span>
                        {{ return_reason.name }}
                      </label>
                    </div>
                  {% endfor %}
                </div>

              </div>
            </fieldset>
            <h4>{{ entry_opened }}</h4>
            <fieldset>
              <div class="form-group">
                <div class="row">
                  <div class="form-group col-xs-12 custom-field required2" id="address-custom-field7">
                    <div id="return_opened">
                      <div class="radio">
                        <label class="chm-radio">
                          <input class="checkbox-input" type="radio" name="opened" value="1"  {% if opened %}checked="checked"{% endif %}>
                          <span class="checkbox-radio"></span>
                          {{ text_yes }}
                        </label>
                      </div>
                      <div class="radio">
                        <label class="chm-radio">
                          <input class="checkbox-input" type="radio" name="opened" value="0"  {% if not opened %}checked="checked"{% endif %}>
                          <span class="checkbox-radio"></span>
                          {{ text_no }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>


            <fieldset>
              <div class="form-group">
                <textarea name="comment" rows="3" class="form-checkout">{{ comment }}</textarea>
                <div class="float-label">{{ entry_fault_detail }}</div>
              </div>
            </fieldset>
            <h4>{{ text_receiver }}</h4>
            <fieldset>
              <div class="form-group form-group-error required">
                <input id="input-opc-receiver" type="text" name="receiver" value="{{ receiver }}" class="form-checkout focus">
                <div class="float-label">{{ entry_receiver }} <span>*</span></div>
                <div class="form-error">
                  {% if error_receiver %}{{ error_receiver }}{% endif %}
                </div>
              </div>
              <div class="form-group form-group-error required">
                <input id="input-opc-inn" type="text" name="inn" value="{{ inn }}" class="form-checkout focus">
                <div class="float-label">{{ entry_inn }} <span>*</span></div>
                <div class="form-error">
                  {% if error_inn %}{{ error_inn }}{% endif %}
                </div>
              </div>
              <div class="form-group form-group-error required">
                <input id="input-opc-iban" type="text" name="iban" value="{{ iban }}" class="form-checkout focus">
                <div class="float-label">{{ entry_iban }} <span>*</span></div>
                <div class="form-error">
                  {% if error_iban %}{{ error_iban }}{% endif %}
                </div>
              </div>
            </fieldset>

            <div class="buttons">
              <a href="{{ back }}" class="opc-btn btn-white">{{ button_back }}</a>
              <input type="submit" value="{{ button_submit }}" class="opc-btn" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>






<script type="text/javascript"><!--
  $(document).ready(function() {
    $('input[name="telephone"]').inputmask({
      mask: '+380 (99) 999-99-99',
      placeholder: 'X'
    }).addClass('tel-ua');

    $('input[name="iban"]').inputmask({
      mask: 'U\\A 99 999999 99999 9999 9999 9999 99',
      placeholder: 'X'
    })
  });

$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

  $('input[name=\'order_id\']').on('change',function(){
    $('#product-related').html('');
  })

  // Related
  $('input[name=\'related_search\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=account/return/autocomplete&order_id='+$('input[name=\'order_id\']').val()+'&filter_name=' + encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['product_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('input[name=\'related_search\']').val('');

      $('#product-related' + item['value']).remove();

      $('#product-related').append('<div id="product-related' + item['value'] + '"><i class="fa fa-minus-circle"></i><input type="hidden" name="products['+ item['value'] +'][product_id]" value="'+ item['value'] +'"/><span> ' + item['label'] + '</span><input type="text" class="quantity" name="products['+ item['value'] +'][quantity]" value="1"/></div>');
    }
  });

  $('#product-related').delegate('.fa-minus-circle', 'click', function() {
    $(this).parent().remove();
  });
//--></script> 
{{ footer }} 