{{ header }}
<div class="container">
  {% include('aviator/template/common/breadcrumb.twig') %}
</div>

<div class="account" id="account-return_info">
  <div class="container">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i
                class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="dflex">
      <div class="col-left">
        {{ column_left }}
      </div>
      <div class="col-right" id="content">
        <div class="head">
          <h1>{{ heading_title }}</h1>
          <div class="status"
               style="background:#787878;color: #ffffff">{{ status }}</div>
        </div>
        <div class="block_order_info">
          <div class="head">{{ text_return_detail }}</div>
          <div class="table">
            <div class="table_row">
              <div class="col1">{{ text_return_id }}</div>
              <div class="col2">№{{ return_id }}</div>
            </div>
            <div class="table_row">
              <div class="col1">{{ text_date_added }}</div>
              <div class="col2">{{ date_added }}</div>
            </div>

            <div class="table_row">
              <div class="col1">{{ text_order_id }}</div>
              <div class="col2">№{{ order_id }}</div>
            </div>
            <div class="table_row">
              <div class="col1">{{ text_date_ordered }}</div>
              <div class="col2">{{ date_ordered }}</div>
            </div>
            <div class="table_row">
              <div class="col1">{{ text_payment_method }}</div>
              <div class="col2">{{ payment_method }}</div>
            </div>
          </div>
        </div>
        {% if comment %}
          <div class="block_order_info">
            <div class="head">{{ text_comment }}</div>
            <div class="table">
              <div class="table_row comment">
                {{ comment }}
              </div>
            </div>
          </div>
        {% endif %}
          <div class="block_order_info return_product_info">
            <div class="head">{{ text_product }}</div>
            <div class="table products">
              {% for product in return_products %}
                <div class="product">
                  <img src="{{ product.image }}" />
                  <div class="product_info">
                    <div class="name">{{ product.name }}</div>
                    <div class="model">{{ column_model }}: {{ product.model }}</div>
                    <div class="model">{{ column_quantity }}: {{ product.quantity }}</div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        <div class="block_order_info">
          <div class="head">{{ text_reason }}</div>
          <div class="table">
            <div class="table_row">
              <div class="col1">{{ column_reason }}</div>
              <div class="col2">{{ reason }}</div>
            </div>
            <div class="table_row">
              <div class="col1">{{ column_opened }}</div>
              <div class="col2">{{ opened }}</div>
            </div>
            {% if action %}
            <div class="table_row">
              <div class="col1">{{ column_action }}</div>
              <div class="col2">{{ action }}</div>
            </div>
            {% endif %}
          </div>
        </div>
        {% if histories %}
          <div class="block_order_info">
            <div class="head">{{ text_history }}</div>
            <div class="table">
              <div class="table_row comment">
                {% for history in histories %}
                  <p>
                    <b>{{ history.date_added }}</b><br/>
                    {{ column_status }}: {{ history.status }}<br/>
                    {{ history.comment }}
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{ footer }}