{{ header }}
<div  class="container">
  {% include('aviator/template/common/breadcrumb.twig') %}
</div>
<div class="account" id="account-return-list">
  <div  class="container">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="dflex">
      <div class="col-left">
        {{ column_left }}
      </div>
      <div class="col-right">
        <div class="head">
          <h1>{{ heading_title }}</h1>
        </div>
        <div class="list_orders">
          {% for return in returns %}
            <a href="{{ return.href  }}" class="order">
              <div class="order_info">
                <div class="head">
                  <div class="order_id">{{ text_my_returs }}: {{ return.return_id }}</div>
                  <div class="count">{{ text_my_orders }}: {{ return.order_id }}</div>
                </div>
                <div class="wrap_totals">
                  <div class="totals">
                    <div class="total">{{ return.total }}</div>
                    <div class="date">{{ return.date_added }}</div>
                  </div>
                  <div class="status" style="background:#787878;color: #ffffff">{{ return.status }}</div>
                </div>
              </div>
              {% if return.image %}
                <div class="products">
                  <div class="product">
                    <img src="{{ return.image }}" />
                  </div>
                </div>
              {% endif %}
            </a>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">{{ pagination }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}