


     <div style="font-size: 14px;margin-bottom: 31px;">{{ auth_welcome_text }}</div>
     <div class="welcome_button">
          <div class="success-button">
          <a href="{{ order }}" class="item btn-b d-f ai-c jc-c">

               <span class="text">{{ text_order }}</span>

          </a>
          </div>
          <div class="success-button">
          <a href="{{ wishlist }}" class="item btn-b d-f ai-c jc-c">

               <span class="text">{{ text_wishlist }}</span>

          </a>
          </div>
     </div>


