


     <div style="font-size: 14px;margin-bottom: 31px;">{{ auth_welcome_text }}</div>
     <div class="welcome_button">
          <div class="success-button">
          <a href="{{ order }}" class="item btn-b d-f ai-c jc-c">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.2839 6.88048C21.2829 6.87848 21.284 6.8765 21.283 6.8745C21.281 6.8695 21.2759 6.8665 21.2739 6.8615C20.8869 6.1585 20.284 5.57849 19.522 5.23949L13.522 2.5725C12.553 2.1425 11.444 2.1425 10.475 2.5725L4.47498 5.23949C3.71198 5.57849 3.1099 6.1585 2.7229 6.8615C2.7209 6.8665 2.71599 6.8695 2.71399 6.8745C2.71299 6.8765 2.71389 6.87848 2.71289 6.88048C2.41989 7.41948 2.25 8.02749 2.25 8.66549V15.3325C2.25 16.8125 3.12393 18.1575 4.47693 18.7595L10.4769 21.4265C10.9589 21.6405 11.4759 21.7465 11.9929 21.7485C11.9959 21.7485 11.998 21.7495 12.001 21.7495C12.004 21.7495 12.0059 21.7485 12.0089 21.7485C12.5259 21.7475 13.0429 21.6405 13.5249 21.4265L19.5249 18.7595C20.8779 18.1585 21.752 16.8135 21.752 15.3325V8.66549C21.747 8.02749 21.5769 7.41848 21.2839 6.88048ZM11.083 3.9425C11.373 3.8135 11.6859 3.74849 11.9969 3.74849C12.3079 3.74849 12.6209 3.81249 12.9109 3.94149L18.9109 6.60848C19.0809 6.68448 19.2299 6.7895 19.3729 6.9005L16.6399 8.1155L9.38098 4.69851L11.083 3.9425ZM7.56995 5.5035L14.829 8.92049L12.917 9.7705C12.331 10.0255 11.6599 10.0255 11.0819 9.77248L4.62097 6.9005C4.76397 6.7895 4.91301 6.68348 5.08301 6.60848L7.56995 5.5035ZM5.08301 17.3875C4.27101 17.0265 3.74695 16.2195 3.74695 15.3315V8.66448C3.74695 8.49948 3.78289 8.34151 3.81689 8.18551L10.4769 11.1455C10.7259 11.2535 10.9839 11.3325 11.2469 11.3845V20.1065C11.1929 20.0875 11.136 20.0765 11.083 20.0535L5.08301 17.3875ZM20.2469 15.3315C20.2469 16.2195 19.7229 17.0265 18.9109 17.3875L12.9109 20.0545C12.8579 20.0785 12.8009 20.0885 12.7469 20.1075V11.3845C13.0109 11.3315 13.271 11.2525 13.521 11.1435L15.876 10.0965V11.8885C15.876 12.3025 16.212 12.6385 16.626 12.6385C17.04 12.6385 17.376 12.3025 17.376 11.8885V9.4305L20.1759 8.18648C20.2109 8.34348 20.246 8.50049 20.246 8.66549V15.3315H20.2469Z" fill="#1A2540"/>
               </svg>
               <span class="text">{{ text_order }}</span>

          </a>
          </div>
          <div class="success-button">
          <a href="{{ wishlist }}" class="item btn-b d-f ai-c jc-c">
               <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.25 8.72156C21.25 9.88156 20.81 11.0516 19.92 11.9416L18.44 13.4216L12.07 19.7916C12.04 19.8216 12.03 19.8316 12 19.8516C11.97 19.8316 11.96 19.8216 11.93 19.7916L4.08 11.9416C3.19 11.0516 2.75 9.89156 2.75 8.72156C2.75 7.55156 3.19 6.38156 4.08 5.49156C5.86 3.72156 8.74 3.72156 10.52 5.49156L11.99 6.97156L13.47 5.49156C15.25 3.72156 18.12 3.72156 19.9 5.49156C20.81 6.38156 21.25 7.54156 21.25 8.72156Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
               </svg>
               <span class="text">{{ text_wishlist }}</span>

          </a>
          </div>
     </div>


