{{ header }}
<div  class="container account-breadcrumb">
  {% include('aviator/template/common/breadcrumb.twig') %}
</div>

<div class="account" id="account-wishlist">
  <div class="container">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i
                class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="dflex">
      <div class="wrap_wishlist" id="content">
        <div class="head">
          <h1>
            <a href="{{ href_account }}">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1809_28086)">
                  <path d="M2 11.0039H24V13.0039H2V11.0039Z" fill="#1A2540"/>
                  <path d="M0.181931 11.9079L5.58594 6.50391L7.00015 7.91812L1.59614 13.3221L0.181931 11.9079Z" fill="#1A2540"/>
                  <path d="M5.59151 17.322L0.1875 11.918L1.60171 10.5038L7.00572 15.9078L5.59151 17.322Z" fill="#1A2540"/>
                </g>
                <defs>
                  <clipPath id="clip0_1809_28086">
                    <rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 24 0)"/>
                  </clipPath>
                </defs>
              </svg>
            </a>
            {{ heading_title }}</h1>
        </div>
        {% if products %}
          <div class="row product-row">
              {% set fia_product_class = 'col-lg-3 col-md-4 col-sm-4 col-xs-6' %}
            {% for product in products %}
              <div class="product-layout {{ fia_product_class }}">
                {% include('aviator/template/product/product_thumb.twig') %}
              </div>
            {% endfor %}
          </div>
        {% else %}
        <div class="orders_empty">
          <a href="{{ href_account }}">
          <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.85 15.6C14.85 16.0142 15.1858 16.35 15.6 16.35C16.0142 16.35 16.35 16.0142 16.35 15.6H14.85ZM8.4 10.2L7.98397 9.57596C7.63933 9.80573 7.5462 10.2714 7.77596 10.616L8.4 10.2ZM9.57596 13.316C9.80573 13.6607 10.2714 13.7538 10.616 13.524C10.9607 13.2943 11.0538 12.8286 10.824 12.484L9.57596 13.316ZM11.516 9.02404C11.8607 8.79427 11.9538 8.32862 11.724 7.98397C11.4943 7.63933 11.0286 7.5462 10.684 7.77596L11.516 9.02404ZM16.35 15.6C16.35 13.5091 15.2889 11.9412 13.766 10.926C12.2654 9.92554 10.3113 9.45 8.4 9.45V10.95C10.0887 10.95 11.7346 11.3745 12.934 12.174C14.1111 12.9588 14.85 14.0909 14.85 15.6H16.35ZM7.77596 10.616L9.57596 13.316L10.824 12.484L9.02404 9.78397L7.77596 10.616ZM8.81602 10.824L11.516 9.02404L10.684 7.77596L7.98397 9.57596L8.81602 10.824ZM6.6 3.75H17.4V2.25H6.6V3.75ZM20.25 6.6V17.4H21.75V6.6H20.25ZM17.4 20.25H6.6V21.75H17.4V20.25ZM3.75 17.4V6.6H2.25V17.4H3.75ZM6.6 20.25C5.02599 20.25 3.75 18.974 3.75 17.4H2.25C2.25 19.8024 4.19756 21.75 6.6 21.75V20.25ZM20.25 17.4C20.25 18.974 18.974 20.25 17.4 20.25V21.75C19.8024 21.75 21.75 19.8024 21.75 17.4H20.25ZM17.4 3.75C18.974 3.75 20.25 5.02599 20.25 6.6H21.75C21.75 4.19756 19.8024 2.25 17.4 2.25V3.75ZM6.6 2.25C4.19756 2.25 2.25 4.19756 2.25 6.6H3.75C3.75 5.02599 5.02599 3.75 6.6 3.75V2.25Z" fill="#1A2540"></path>
          </svg>
          </a>
          <div class="head">{{ text_empty }}</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{{ footer }}