<span data-href="{{ login }}"   class="opc-btn btn-gray" >{{ button_account }}</span>
<span data-href="{{ register }}"   class="opc-btn btn-gray" >{{ button_register }}</span>
<a href="{{ guest_session_link }}"   class="opc-btn btn-gray" >{{ button_guest }}</a>

