{# <span data-href="{{ login }}"   class="opc-btn" >{{ button_account }}</span>
<span data-href="{{ register }}"   class="opc-btn btn-gray" >{{ button_register }}</span>
<a href="{{ guest_session_link }}"   class="opc-btn btn-href" >{{ button_guest }}</a>
#}

<p class="page-checkout-item__title add-padding">Ваші дані</p>
<form action="{{ action }}" id="step1" method="post" enctype="multipart/form-data" >
    <div class="form-group form-group-error  required">
        {#\<label for="input-opc-telephone" class="control-label opc-label">{{ entry_telephone }}</label>#}
        <div class="flag-container">
            <div id="dropdownFlags" data-iso-code="{{ iso_code_2 }}">
                <div class="flag"><img src="{{ flag }}" alt="" width="24" height="16"/></div>
                {#<span class="caret"></span>#}
            </div>
            {#<ul class="dropdown-menu scroll" aria-labelledby="dropdownFlags">
								{% for key, country in countries_t %}
									<li data-iso-code="{{ country.iso_code_2 }}" data-calling-code="{{ country.calling_code }}" data-number-mask="{{ country.number_lengths_mask }}" aria-selected="{% if country.iso_code_2 == iso_code_2 %}true{% else %}false{% endif %}"><img src="{{ country.flag }}" alt="" width="24" height="16"/><span>{{ country.name }}</span><span>+{{ country.calling_code }}</span></li>
								{% endfor %}
							</ul>#}
        </div>
        {% if iso_code_2 == 'ua' %}
            <input id="input-opc-telephone" type="text" name="telephone" value="{% if telephone is defined %}{{ telephone }}{% endif %}" placeholder="+380 (XX) XXX-XX-XX" class="form-checkout focus" required/>
        {% else %}
            <input id="input-opc-telephone" type="text" name="telephone" value="{% if telephone is defined %}{{ telephone }}{% endif %}" placeholder="+{{ calling_code}} {{ number_lengths_mask }}" class="form-checkout focus" required/>
        {% endif %}
        <svg width="18" height="13" class="check" style="display: none;"><use xlink:href="image/icons.svg#check" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
        {# <input type="text" name="sms_code" value="" placeholder="XXXX" class="hidden" autocomplete="off" im-insert="true"/>#}
         {# <button type="button" id="btn-send-sms" class="hidden">{{ text_sms_send }}</button>#}
        <div class="float-label">{{ entry_telephone }} <span>*</span></div>
        <div class="form-error hidden">{{ error_warning }}</div>
    </div>

   {#  <div class="form-group form-group-error required hidden" >
        <input id="input-opc-password" type="text" placeholder="XXXX" name="sms_password" value="" class="form-checkout focus" autocomplete="off" im-insert="true">
        <div class="float-label">{{ entry_password }} <span>*</span></div>

        <div class="form-error">
            {% if error_password %}{{ error_password }}{% endif %}
        </div>
    </div>#}

    {#         <div class="form-group form-group-error required">
            <input id="input-opc-password" type="password" name="password" value="{{ password }}" class="form-checkout focus">
            <div class="float-label">{{ entry_password }} <span>*</span></div>
            <div class="right"><span data-href="{{ forgotten }}" class="btn-href" >{{ text_forgotten }}</span></div>
            <div class="form-error">
                {% if error_password %}{{ error_password }}{% endif %}
            </div>
        </div>#}
    <div class="buttons">
        <input type="submit" value="{{ button_continue }}" class="opc-btn" />
        <div class="border"></div>

    </div>
</form>


<form action="{{ action2 }}" id="step2" method="post" enctype="multipart/form-data" class="hidden" >
	<span class="help"></span>
	<div class="form-group form-group-error" >
		<input id="input-opc-password" type="text" placeholder="XXXX" name="sms_password" value="" class="form-checkout focus" autocomplete="one-time-code" im-insert="true">
		<div class="float-label">{{ entry_password }} <span>*</span></div>

		<div class="help">

		</div>
		<div class="form-error"></div>
	</div>

	<div class="buttons">
		<input type="submit" value="{{ button_continue }}" class="opc-btn" />
		<div class="border"></div>

	</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		var iso_code = '{{ iso_code_2 }}';
		var calling_code = '{{ calling_code }}';
		var opc_telephone = $('#step1 input[name="telephone"]').closest('.form-group');

		if (iso_code === 'ua') {
			$('#step1 #dropdownFlags').addClass('disabled');
			$('#step1 input[name="telephone"]').inputmask({
				mask: '+380 (99) 999-99-99',
				placeholder: 'X'
			}).addClass('tel-ua');
		} else {
			$('#step1 #dropdownFlags').removeClass('disabled');
			$('#step1 input[name="telephone"]').inputmask({
				mask: '+' + calling_code.replace(/9/g, "\\9") + ' {{ number_lengths_mask }}',
				placeholder: 'X'
			}).removeClass('tel-ua');
		}

		/*$('#step2 input[name="sms_password"]').inputmask({
			mask: '9999',
			placeholder: 'X'
		})*/

		$('#step1').on('submit', function(e) {
			var iso_code = $('#step1 #dropdownFlags').attr('data-iso-code');
			e.preventDefault();
			if (iso_code == 'ua') {
				$.get('index.php?route=account/login/validateNumber&tel=' + encodeURIComponent($(this).find('input[name="telephone"]').val()), function(step) {
					switch(step) {
						case '1':
							opc_telephone.find('.check').hide();
							opc_telephone.find('input[name="telephone"]').addClass('error');
							opc_telephone.find('.form-error').removeClass('hidden');
							break;
						case '2':
							opc_telephone.find('.check').hide();
							opc_telephone.find('input[name="telephone"]').addClass('error');
							opc_telephone.find('#btn-send-sms').addClass('hidden');

							break;
						case '3':
							opc_telephone.find('input[name="telephone"]').removeClass('error');
							opc_telephone.find('.form-error').text('');
							opc_telephone.find('.form-error').addClass('hidden');
							$('#step2').find('.form-error').addClass('hidden');

							$.ajax({
								url: 'index.php?route=account/login/sendSMS',
								type: 'post',
								dataType: 'json',
								data:$('#step1').serialize(),
								success: function(json) {
									$('#step1').hide();
									$('#step2').show().removeClass('hidden');
									$('#step2 span.help').html(json.help);

									var _Seconds = 120;
									clearInterval(int);
									int = setInterval(function() {
										if (_Seconds > 0) {
											_Seconds--;
											$('#step2 div.help').text('{{ text_sms_wait }} ' + _Seconds + ' {{ text_sms_wait_sec }}!');
										} else {
											clearInterval(int);
										}
									},1000);

								}
							});

							break;
					}
				});
			}
		});
		var int;



		$('#step2').on('submit',function(e) {
			e.preventDefault();
			$.ajax({
				url: 'index.php?route=account/login/code',
				type: 'post',
				dataType: 'json',
				data: $('#step2').serialize(),
				success: function (json) {
					if(json.success){
						document.location=document.location.href;
					}
					if(json.error){
						$('#step2 .form-error').html(json.error).removeClass('hidden');
					}
				}
			})
		});
	});
</script>