<span data-href="{{ register }}"   class="opc-btn btn-gray" >{{ button_create_account }}</span>
<span data-href="{{ login }}"   class="opc-btn btn-gray" >{{ button_already_have }}</span>
<a href="{{ guest_session_link }}"   class="opc-btn btn-gray" >{{ text_guest }}</a>

