<div class="totals-inner">
	{#<div class="title-text-next">
		<span class="opc-cart-title">{{ text_you_order }}</span>
		{% if opc_show_weight is defined and opc_show_weight == 1 %}
			<span class="opc-cart-weight">{{ weight }}</span>
		{% endif %}
	</div>#}
	{% if  coupon_status  or  voucher_status  or  reward_status %}
	<div class="checkout-cart-accordion" id="accordion">


		{% if coupon_status %}
			<div class="cart-coupon d-f">
				<div class="form-group" style="width:90%;">
					<input id="input-coupon" style="height: 58px;line-height: 58px;" type="text" name="coupon" value="{{ coupon }}" class="form-checkout" >

					<div class="float-label">{{ text_coupon }}</div>

				</div>
				<input type="button" value="ok" id="button-coupon" class="opc-btn w-20" style="height: 58px;line-height: 58px;"/>

			</div>
		{% endif %}
		{% if voucher_status %}
			<div class="cart-voucher">
				<div class="form-group">
					<label class="control-label" for="input-voucher">{{ text_voucher }}</label>
					<div class="input-group">
						<input type="text" name="voucher" value="{{ voucher }}" placeholder="{{ entry_voucher }}" id="input-voucher" class="form-control" />
						<span class="input-group-btn">
							<input type="submit" value="ok" id="button-voucher" class="btn btn-primary" />
						</span>
					</div>
				</div>
			</div>
		{% endif %}
		{% if reward_status %}
			<div class="cart-reward">
				<div class="form-group">
					<label class="control-label" for="input-reward">{{ text_reward }}</label>
					<div class="input-group">
						<input type="text" name="reward" value="{{ reward }}" placeholder="{{ entry_reward }}" id="input-reward" class="form-control" />
						<span class="input-group-btn">
							<input type="submit" value="ok" id="button-reward" class="btn btn-primary" />
						</span>
					</div>
				</div>
			</div>
		{% endif %}

	</div>
	{% endif %}
	<div class="checkout-totals">
		<div class="checkout-totals-inner">
		{% for key,total in totals %}
		<div class="d-f ai-c jc-sb{% if (key+1 == totals|length) %} total-last{% endif %}">
			<div class="total-title">{{ total['title'] }}</div>
			<div class="total-text">{{ total['text'] }}</div>
		</div>
		{% endfor %}
		</div>

		{#<table class="table table_total table-cart">
			{% for key,total in totals %}
				<tr>
					{% if total['value'] != 0 %}
						<td class="text-left total-title{% if (key+1 == totals|length) %} total-last{% endif %}">{{ total['title'] }}:</td>
						<td class="text-right total-text">{{ total['text'] }}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>#}
		{% if text_agree %}
			<div class="group-checkbox checkout-agree">
				<label class="chm-checkbox mb-0">
					{% if agree %}
						<input class="checkbox-input" type="checkbox" name="agree" value="1" checked="checked" />
					{% else %}
						<input class="checkbox-input" type="checkbox" name="agree" value="1" />
					{% endif %}
					<span class="checkbox-check"></span>{{ text_agree }}
				</label>
			</div>
		{% endif %}
		{% if opc_show_not_call_me is defined and opc_show_not_call_me == 1 %}
			<div class="group-checkbox checkout-agree">
				<label class="chm-checkbox mb-0">
					<input class="checkbox-input" type="checkbox" name="opc_not_call_me" value="1" {% if opc_not_call_me %}checked="checked"{% endif %} />
					<span class="checkbox-check"></span>{{ text_not_call_me }}
				</label>
			</div>
		{% endif %}
		<div class="confirm-block">
		{% if  not payment %}
			<input type="button" class="opc-btn w-100" data-loading-text="{{ text_loading }}" id="button-register" value="{{ button_checkout }} ">
		{% endif %}
		</div>
	</div>
</div>
