<div>
	<div class="cart-list">
		<div class="opc-cart-title d-f ai-c jc-sb">{{ text_you_order }}<span class="d-f ai-c jc-c">{{ countProducts }}</span></div>
		{% if discont %}
			<div class="block_discont">
				<div class="ico">
					<svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28.5 31.3125H7.5C3.2685 31.3125 0.9375 28.9815 0.9375 24.75V18.1875H2.25C3.45575 18.1875 4.4375 17.2057 4.4375 16C4.4375 14.7942 3.45575 13.8125 2.25 13.8125H0.9375V7.25C0.9375 3.0185 3.2685 0.6875 7.5 0.6875H28.5C32.7315 0.6875 35.0625 3.0185 35.0625 7.25V13.8125H33.75C32.5443 13.8125 31.5625 14.7942 31.5625 16C31.5625 17.2057 32.5443 18.1875 33.75 18.1875H35.0625V24.75C35.0625 28.9815 32.7315 31.3125 28.5 31.3125ZM3.5625 20.6305V24.75C3.5625 27.5098 4.74025 28.6875 7.5 28.6875H28.5C31.2598 28.6875 32.4375 27.5098 32.4375 24.75V20.6305C30.4198 20.0582 28.9375 18.1997 28.9375 16C28.9375 13.8003 30.4198 11.9418 32.4375 11.3695V7.25C32.4375 4.49025 31.2598 3.3125 28.5 3.3125H7.5C4.74025 3.3125 3.5625 4.49025 3.5625 7.25V11.3695C5.58025 11.9418 7.0625 13.8003 7.0625 16C7.0625 18.1997 5.58025 20.0582 3.5625 20.6305ZM14.5526 21.3025L23.3026 12.5525C23.8153 12.0397 23.8153 11.2085 23.3026 10.6957C22.7898 10.183 21.9585 10.183 21.4457 10.6957L12.6957 19.4457C12.183 19.9585 12.183 20.7897 12.6957 21.3025C12.9512 21.558 13.2873 21.6875 13.6233 21.6875C13.9593 21.6875 14.2971 21.5597 14.5526 21.3025ZM15.375 11.625C15.375 10.659 14.5944 9.875 13.6284 9.875H13.6109C12.6484 9.875 11.8733 10.659 11.8733 11.625C11.8733 12.591 12.6642 13.375 13.6267 13.375C14.5945 13.375 15.375 12.591 15.375 11.625ZM24.125 20.375C24.125 19.409 23.3444 18.625 22.3784 18.625H22.3609C21.3984 18.625 20.6233 19.409 20.6233 20.375C20.6233 21.341 21.4142 22.125 22.3767 22.125C23.3445 22.125 24.125 21.341 24.125 20.375Z" fill="white"/>
					</svg>
				</div>
				<div class="text">
					<div class="head">{{ text_head_discont }}</div>
					<div class="description">{{ text_discont }} {{ discont }}%</div>
				</div>
			</div>
		{% endif %}
		{% if products is not empty or vouchers %}
		{% for product in products %}
			<div class="cart-item d-f">
				<button type="button" data-action="remove" data-key="{{ product.key }}" title="{{ button_remove }}" class="btn btn-remove"><svg class="i-trash" width="20" height="22" data-toggle="dropdown"><use xlink:href="image/icons.svg#i-trash" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></button>
				<div class="cart-item-left">
					{% if product['thumb'] %}
						<a href="{{ product['href'] }}"><img width="{{ cart_width }}"  height="{{ cart_height }}" src="{{ product['thumb'] }}" alt="{{ product['name'] }}" class="img-responsive" /></a>
					{% endif %}
				</div>
				<div class="cart-item-center">
					<div class="cart-item-prod-name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></div>
					{% if (not product.stock) %}
						<div class="cart-prod-info-stock text-danger">***</div>
					{% endif %}
					{% if (product.option) %}
					<div class="cart-item-options">
						{% for option in product.option %}
						<div class="cart-item-option dflex">
							<div class="cart-item-option-name">{{ option.name }}</div>
							<div class="cart-item-option-value">{{ option.value }}</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if (product.reward) %}
					<div class="cart-prod-info-reward">{{ product.reward }}</div>
					{% endif %}
					{% if (product.recurring) %}
					<br />
					<span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small>
					{% endif %}
					{% if product.ch_gift_id and product.ch_gift_id > 0%}
					<div class="ch-gift">{{ text_gift }}</div>
					{% endif %}
					{% if product.quantity > 1 %}
					<div class="cart-item-quantity">{{ product._quantity }}</div>
					{% endif %}
					<div class="price d-f ai-c">
						{% if not product._special %}
						{{ product._price }}
						{% else %}
						<div class="price-new">{{ product._special }}</div> <div class="price-old">{{ product._price }}</div>
						{% endif %}
					</div>
				</div>

			</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
