{% set custom_row = 0 %}
<div class="checkout-address h-100{% if shipping_methods_fields is empty %} hidden{% endif %}">
	{#<div class="checkout-heading">{{ title_shipping_address }}</div>#}
	<div class="checkout-address-info">
		{% if shipping_methods_fields is not empty %}
			<div id="opc-shipping-address" class="row">
				{% for field_name,shipping_field in shipping_methods_fields %}
					{% if field_name == 'country' %}
						<div class="form-group form-group-error{% if shipping_field['status'] == 'required' %} required{% endif %}">
							<select {{ shipping_field['type'] }} {% if (shipping_field['type'] == 'select2') %}data-type="select2"{% endif %} id="input-payment-country" name="country_id" class="form-checkout{% if country_id is not empty %} focus{% endif %}" data-placeholder="">
								{#<option value="">{{ entry_country }}</option>#}
								{% for country in countries %}
									{% if country['country_id'] == country_id %}
										<option value="{{ country['country_id'] }}" selected="selected">{{ country['name'] }}</option>
									{% else %}
										<option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<div class="float-label">{{ entry_country }}{% if shipping_field['status'] == 'required' %} <span>*</span>{% endif %}</div>
							<div class="form-error"></div>
						</div>
					{% endif %}
					{% if field_name == 'zone_id' %}
						<div class="form-group form-group-error{% if shipping_field['status'] == 'required' %} required{% endif %}{% if country_id == '' %} hidden{% endif %} {{ zone_id }}">
							{#<label for="input-payment-zone" class="control-label opc-label">{{ entry_zone }}</label>#}
							<select {% if (shipping_field['type'] == 'select2') %}data-type="select2"{% endif %} id="input-payment-zone" name="zone_id" class="form-checkout{% if zones is not empty %} focus{% endif %}" data-placeholder="">
								{% if zones is not empty  %}
									{#<option value="">{{ text_select }}</option>#}
									{% for zone in zones %}
										{% if zone['zone_id'] == zone_id %}
											<option value="{{ zone['zone_id'] }}" selected="selected">{{ zone['name'] }}</option>
										{% else %}
											<option value="{{ zone['zone_id'] }}">{{ zone['name'] }}</option>
										{% endif %}
									{% endfor %}
								{% endif %}
							</select>
							<div class="float-label">{{ entry_zone }}{% if shipping_field['status'] == 'required' %} <span>*</span>{% endif %}</div>
							<div class="form-error"></div>
						</div>
					{% endif %}
					{% if field_name == 'city' %}
						{% if shipping_field['type'] == 'input' %}
							<div class="form-group form-group-error{% if shipping_field['status'] == 'required' %} required{% endif %}" data-code="{{ _shipping_method_code }}">
								{#<label for="input-payment-city" class="control-label opc-label">{{ entry_city }}</label>#}
								<input autocomplete="off" id="input-payment-city" type="text" name="city" value="{% if city is defined %}{{ city }}{% endif %}" class="form-checkout{% if city is not empty %} focus{% endif %}"/>
								<div class="float-label">{{ entry_city }}{% if shipping_field['status'] == 'required' %} <span>*</span>{% endif %}</div>
								<div class="form-error"></div>
								<span class="caret"></span>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select2' %}
							<div class="form-group{% if shipping_field['status'] == 'required' %} required{% endif %}">
								{#<label for="input-payment-address-1" class="control-label opc-label">{{ entry_city }}</label>#}
								<select data-type="select2" name="city" id="input-payment-city" class="form-checkout{% if city is not empty %} focus{% endif %}" data-placeholder="">
									<option value="">{{ entry_city }}</option>
									{% if city is not empty %}
										<option value="{{ city }}" selected="selected">{{ city }}</option>
									{% endif %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-city" class="control-label opc-label">{{ entry_city }}</label>
								<select name="city" id="input-payment-city" class="form-control">
									{#<option value="">{{ text_select }}</option>#}
									{% for custom_field in shipping_field['custom_fields'] %}
										<option {% if city == custom_field['value'] %}selected="selected"{% endif %} value="{{ custom_field['value'] }}">{{ custom_field['name'] }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'radio' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-city" class="control-label opc-label">{{ entry_city }}</label>
								<div id="input-payment-city">
									{% for custom_field in shipping_field['custom_fields'] %}
										<div class="radio chm-radio">
											<label>
												<input {% if city == custom_field['value'] %}checked="checked"{% endif %} type="radio" name="city" value="{{ custom_field['value'] }}" />
												{{ custom_field['name'] }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}
					{% if field_name == 'address_1' %}
						{% if shipping_field['type'] == 'input' %}
							<div class="form-group form-group-error{% if shipping_field['status'] == 'required' %} required{% endif %}">
								{#<label for="input-payment-address-1" class="control-label opc-label">{{ entry_address_1 }}</label>#}
								<input autocomplete="off" id="input-payment-address-1" type="text" name="address_1" value="{% if address_1 is defined %}{{ address_1 }}{% endif %}" class="form-checkout{% if address_1 is not empty %} focus{% endif %}" />
								<div class="float-label">{{ entry_address_1 }}{% if shipping_field['status'] == 'required' %} <span>*</span>{% endif %}</div>
								<div class="form-error"></div>
								{% if _shipping_method_code == 'novaposhta.department' %}
								<span class="caret"></span>
								{% endif %}
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select2' %}
							<div class="form-group form-group-error{% if shipping_field['status'] == 'required' %} required{% endif %} form-group-address-1">

								{#<label for="input-payment-address-1" class="control-label opc-label">{{ entry_address_1 }}</label>#}
								<select data-type="select2" name="address_1" id="input-payment-address-1" class="form-checkout" data-placeholder="">
									<option value=""></option>
								</select>
								<div class="float-label">{{ entry_address_1 }}{% if shipping_field['status'] == 'required' %} <span>*</span>{% endif %}</div>
								<div class="form-error"></div>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-address-1" class="control-label opc-label">{{ entry_address_1 }}</label>
								<select name="address_1" id="input-payment-address-1" class="form-control">
									{#<option value="">{{ text_select }}</option>#}
									{% for custom_field in shipping_field['custom_fields'] %}
										<option {% if address_1 == custom_field['value'] %}selected="selected"{% endif %} value="{{ custom_field['value'] }}">{{ custom_field['name'] }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'radio' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-address-1" class="control-label opc-label">{{ entry_address_1 }}</label>
								<div id="input-payment-address-1">
									{% for custom_field in shipping_field['custom_fields'] %}
										<div class="radio chm-radio">
											<label>
												<input {% if address_1 == custom_field['value'] %}checked="checked"{% endif %} type="radio" name="address_1" value="{{ custom_field['value'] }}" />
												{{ custom_field['name'] }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}
					{% if field_name == 'address_2' %}
						{% if shipping_field['type'] == 'input' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-address-2" class="control-label opc-label">{{ entry_address_2 }}</label>
								<input autocomplete="off" id="input-payment-address-2" type="text" name="address_2" value="{% if address_2 is defined %}{{ address_2 }}{% endif %}" placeholder="{{ entry_ph_address_2 }}" class="form-control" />
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-address-2" class="control-label opc-label">{{ entry_address_2 }}</label>
								<select name="address_2" id="input-payment-address-2" class="form-control">
									{#<option value="">{{ text_select }}</option>#}
									{% for custom_field in shipping_field['custom_fields'] %}
										<option {% if address_2 == custom_field['value'] %}selected="selected"{% endif %} value="{{ custom_field['value'] }}">{{ custom_field['name'] }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'radio' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-address-2" class="control-label opc-label">{{ entry_address_2 }}</label>
								<div id="input-payment-address-2">
									{% for custom_field in shipping_field['custom_fields'] %}
										<div class="radio chm-radio">
											<label>
												<input {% if address_2 == custom_field['value'] %}checked="checked"{% endif %} type="radio" name="address_2" value="{{ custom_field['value'] }}" />
												{{ custom_field['name'] }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}
					{% if field_name == 'postcode' %}
						{% if shipping_field['type'] == 'input' %}
							<div class="form-group form-group-error{% if shipping_field['status'] == 'required' %} required{% endif %}">
								{#<label for="input-payment-postcode" class="control-label opc-label">{{ entry_postcode }}</label>#}
								<input autocomplete="off" id="input-payment-postcode" type="text" name="postcode" value="{% if postcode is defined %}{{ postcode }}{% endif %}" class="form-checkout{% if postcode is not empty %} focus{% endif %}" />
								<div class="float-label">{{ entry_postcode }}{% if shipping_field['status'] == 'required' %} <span>*</span>{% endif %}</div>
								<div class="form-error"></div>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-postcode" class="control-label opc-label">{{ entry_postcode }}</label>
								<select name="postcode" id="input-payment-postcode" class="form-control">
									<option value="">{{ text_select }}</option>
									{% for custom_field in shipping_field['custom_fields'] %}
										<option {% if postcode == custom_field['value'] %}selected="selected"{% endif %} value="{{ custom_field['value'] }}">{{ custom_field['name'] }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'radio' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-postcode" class="control-label opc-label">{{ entry_postcode }}</label>
								<div id="input-payment-postcode">
									{% for custom_field in shipping_field['custom_fields'] %}
										<div class="radio chm-radio">
											<label>
												<input {% if city == custom_field['value'] %}checked="checked"{% endif %} type="radio" name="postcode" value="{{ custom_field['value'] }}" />
												{{ custom_field['name'] }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}
					{% if field_name == 'company' %}
						{% if shipping_field['type'] == 'input' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-company" class="control-label opc-label">{{ entry_company }}</label>
								<input autocomplete="off" id="input-payment-company" type="text" name="company" value="{% if company is defined %}{{ company }}{% endif %}" placeholder="{{ entry_ph_company }}" class="form-control" />
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'select' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-company" class="control-label opc-label">{{ entry_company }}</label>
								<select name="company" id="input-payment-company" class="form-control">
									<option value="">{{ text_select }}</option>
									{% for custom_field in shipping_field['custom_fields'] %}
										<option {% if company == custom_field['value'] %}selected="selected"{% endif %} value="{{ custom_field['value'] }}">{{ custom_field['name'] }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'radio' %}
							<div class="form-group col-xs-12 col-sm-6{% if shipping_field['status'] == 'required' %} required{% endif %}">
								<label for="input-payment-company" class="control-label opc-label">{{ entry_company }}</label>
								<div id="input-payment-company">
									{% for custom_field in shipping_field['custom_fields'] %}
										<div class="radio chm-radio">
											<label>
												<input {% if company == custom_field['value'] %}checked="checked"{% endif %} type="radio" name="company" value="{{ custom_field['value'] }}" />
												{{ custom_field['name'] }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}
					{% if shipping_field['location'] is defined and shipping_field['location'] == 'opc_address' %}
						{% if shipping_field['type'] == 'select' %}
							<div class="form-group col-xs-12 col-sm-6 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								<label class="control-label opc-label" for="input-address-custom-field{{ shipping_field['custom_field_id'] }}">{{ shipping_field['name'] }}</label>
								<select name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" id="input-address-custom-field{{ shipping_field['custom_field_id'] }}" class="form-control">
									<option value="">{{ text_select }}</option>
									{% for custom_field_value in shipping_field['custom_field_value'] %}
										<option value="{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</option>
									{% endfor %}
								</select>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'radio' %}
							<div class="form-group col-xs-12 custom-field{{ shipping_field['required'] ? ' required2' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								<label class="control-label opc-label">{{ shipping_field['name'] }}</label>
								<div id="input-address-custom-field{{ shipping_field['custom_field_id'] }}">
									{% set index = 0 %}
									{% for custom_field_value in shipping_field['custom_field_value'] %}
										{% set index = index + 1 %}
										{% if index == 1 or  index == 2 %}
										<div class="radio">
											<label class="chm-radio">
												<input class="checkbox-input" type="radio" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}"{% if not custom_row %} checked="checked"{% set custom_row = custom_row + 1 %}{% endif %}/>
												<span class="checkbox-radio"></span>
												{{ custom_field_value['name'] }}
											</label>
										</div>
										{% endif %}
									{% endfor %}
								</div>
								<label class="control-label opc-label">{{ text_pick_up_in_AVIATOR_stores }}</label>
								{% set index = 0 %}
								{% for custom_field_value in shipping_field['custom_field_value'] %}
									{% set index = index + 1 %}
									{% if index > 2 %}
										<div class="radio">
											<label class="chm-radio">
												<input class="checkbox-input" type="radio" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" value="{{ custom_field_value['custom_field_value_id'] }}"{% if not custom_row %} checked="checked"{% set custom_row = custom_row + 1 %}{% endif %}/>
												<span class="checkbox-radio"></span>
												{{ custom_field_value['name'] }}
											</label>
										</div>
									{% endif %}
								{% endfor %}

							</div>
						{% endif %}
						{% if shipping_field['type'] == 'checkbox' %}
							<div class="form-group col-xs-12 col-sm-6 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								<label class="control-label opc-label">{{ shipping_field['name'] }}</label>
								<div id="input-address-custom-field{{ shipping_field['custom_field_id'] }}">
									{% for custom_field_value in shipping_field['custom_field_value'] %}
										<div class="checkbox">
											<label class="chm-checkbox">
												<input class="checkbox-input" type="checkbox" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}][]" value="{{ custom_field_value['custom_field_value_id'] }}" />
												<span class="checkbox-check"></span>
												{{ custom_field_value['name'] }}
											</label>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'text' %}
							{% if not custom_row %}
								<div class="row row-custom">
							{% endif %}
							{% set custom_row = custom_row + 1 %}
							<div class="form-group form-group-error col-xs-12 col-sm-6 col-xs-6 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								{#<label class="control-label opc-label" for="input-address-custom-field{{ shipping_field['custom_field_id'] }}">{{ shipping_field['name'] }}</label>#}
								<input type="text" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" value="{{ guest_custom_field[shipping_field['custom_field_id']] ?? shipping_field['value'] }}" id="input-address-custom-field{{ shipping_field['custom_field_id'] }}" class="form-checkout" autocomplete="off"/>
								<div class="float-label">{{ shipping_field['name'] }}{% if shipping_field['required'] == 'required' %} <span>*</span>{% endif %}</div>
								<div class="form-error"></div>
							</div>

							{% if custom_row == 2 %}
								</div>
							{% endif %}
						{% endif %}

						{% if shipping_field['type'] == 'textarea' %}
							<div class="form-group col-xs-12 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								{#<label class="control-label opc-label" for="input-address-custom-field{{ shipping_field['custom_field_id'] }}">{{ shipping_field['name'] }}</label>#}
								<textarea name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" rows="3" id="input-address-custom-field{{ shipping_field['custom_field_id'] }}" class="form-checkout">{{ guest_custom_field[shipping_field['custom_field_id']] ?? shipping_field['value'] }}</textarea>
								<div class="float-label">{{ shipping_field['name'] }}</div>
							</div>
						{% endif %}

						{% if shipping_field['type'] == 'date' %}
							<div class="form-group col-xs-12 col-sm-6 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								<label class="control-label opc-label" for="input-address-custom-field{{ shipping_field['custom_field_id'] }}">{{ shipping_field['name'] }}</label>
								<div class="input-group date">
									<input type="text" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" value="{{ guest_custom_field[shipping_field['custom_field_id']] ?? shipping_field['value'] }}" placeholder="{{ shipping_field['name'] }}" data-date-format="YYYY-MM-DD" id="input-address-custom-field{{ shipping_field['custom_field_id'] }}" class="form-control" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						{% endif %}
						{% if shipping_field['type'] == 'time' %}
							<div class="form-group col-xs-12 col-sm-6 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								<label class="control-label opc-label" for="input-address-custom-field{{ shipping_field['custom_field_id'] }}">{{ shipping_field['name'] }}</label>
								<div class="input-group time">
									<input type="text" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" value="{{ guest_custom_field[shipping_field['custom_field_id']] ?? shipping_field['value'] }}" placeholder="{{ shipping_field['name'] }}" data-date-format="HH:mm" id="input-address-custom-field{{ shipping_field['custom_field_id'] }}" class="form-control" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						{% endif %}

						{% if shipping_field['type'] == 'datetime' %}
							<div class="form-group col-xs-12 col-sm-6 custom-field{{ shipping_field['required'] ? ' required' : '' }}" id="address-custom-field{{ shipping_field['custom_field_id'] }}">
								<label class="control-label opc-label" for="input-address-custom-field{{ shipping_field['custom_field_id'] }}">{{ shipping_field['name'] }}</label>
								<div class="input-group datetime">
									<input type="text" name="custom_field[{{ shipping_field['location'] }}][{{ shipping_field['custom_field_id'] }}]" value="{{ guest_custom_field[shipping_field['custom_field_id']] ?? shipping_field['value'] }}" placeholder="{{ shipping_field['name'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-address-custom-field{{ shipping_field['custom_field_id'] }}" class="form-control" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
