{{ header }}
<div>{{ content_top }}</div>
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
  function owlResized() {
    var wW = $(window).width();

    if (wW <= 767) {
      $('.o-owl .product-layout').css({ 'width' : wW / 2 - 20 });
    } else {
      $('.o-owl .product-layout').css({ 'width' : 'auto' });
    }
  }

  owlResized();

  $(document).ready(function() {
    $('.o-owl-latest .owl-carousel, .o-owl-special .owl-carousel, .o-owl-blog-latest .owl-carousel').owlCarousel({
      mouseDrag: true,
      touchDrag: true,
      lazyLoad: false,
      loop: false,
      nav: true,
      navText: ['<svg class="i-owl-arrow2" width="27" height="28"><use xlink:href="image/icons.svg#i-owl-arrow2" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>', '<svg class="i-owl-arrow2" width="27" height="28"><use xlink:href="image/icons.svg#i-owl-arrow2" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>'],
      dots: false,
      responsive: { 0: { items: 2, nav: false, autoWidth: true, margin: 8 }, 767: { items: 2, nav: false, autoWidth: true, margin: 8 }, 768: { items: 3, margin: 8 }, 991: { items: 3, margin: 8 }, 992: { items: 3, margin: 16 }, 1200: { items: 4, margin: 16 } },
      onResized: owlResized
    });
  });
</script>
{{ footer }}
