<div class="account_menu">
  {% if logged %}
    <div class="head">
      <div class="name">
        {{ text_hello }}{% if customer_name %}, <br/>{{ customer_name }}{% endif %}!
      </div>
      {% if contact %}
        <div class="contact">
          {{ contact }}
        </div>
      {% endif %}
      <a class="logout" href="{{ logout }}"></a>
    </div>
  {% endif %}
  {% if discont %}
      <div class="block_discont">
          <div class="c">
              <svg width="36" height="32" viewBox="0 0 36 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M28.5 31.3125H7.5C3.2685 31.3125 0.9375 28.9815 0.9375 24.75V18.1875H2.25C3.45575 18.1875 4.4375 17.2057 4.4375 16C4.4375 14.7942 3.45575 13.8125 2.25 13.8125H0.9375V7.25C0.9375 3.0185 3.2685 0.6875 7.5 0.6875H28.5C32.7315 0.6875 35.0625 3.0185 35.0625 7.25V13.8125H33.75C32.5443 13.8125 31.5625 14.7942 31.5625 16C31.5625 17.2057 32.5443 18.1875 33.75 18.1875H35.0625V24.75C35.0625 28.9815 32.7315 31.3125 28.5 31.3125ZM3.5625 20.6305V24.75C3.5625 27.5098 4.74025 28.6875 7.5 28.6875H28.5C31.2598 28.6875 32.4375 27.5098 32.4375 24.75V20.6305C30.4198 20.0582 28.9375 18.1997 28.9375 16C28.9375 13.8003 30.4198 11.9418 32.4375 11.3695V7.25C32.4375 4.49025 31.2598 3.3125 28.5 3.3125H7.5C4.74025 3.3125 3.5625 4.49025 3.5625 7.25V11.3695C5.58025 11.9418 7.0625 13.8003 7.0625 16C7.0625 18.1997 5.58025 20.0582 3.5625 20.6305ZM14.5526 21.3025L23.3026 12.5525C23.8153 12.0397 23.8153 11.2085 23.3026 10.6957C22.7898 10.183 21.9585 10.183 21.4457 10.6957L12.6957 19.4457C12.183 19.9585 12.183 20.7897 12.6957 21.3025C12.9512 21.558 13.2873 21.6875 13.6233 21.6875C13.9593 21.6875 14.2971 21.5597 14.5526 21.3025ZM15.375 11.625C15.375 10.659 14.5944 9.875 13.6284 9.875H13.6109C12.6484 9.875 11.8733 10.659 11.8733 11.625C11.8733 12.591 12.6642 13.375 13.6267 13.375C14.5945 13.375 15.375 12.591 15.375 11.625ZM24.125 20.375C24.125 19.409 23.3444 18.625 22.3784 18.625H22.3609C21.3984 18.625 20.6233 19.409 20.6233 20.375C20.6233 21.341 21.4142 22.125 22.3767 22.125C23.3445 22.125 24.125 21.341 24.125 20.375Z" fill="white"/>
              </svg>
          </div>
          <div class="text">
              <div class="head">{{ text_head_discont }}</div>
              <div class="description">{{ text_discont }} {{ discont }}%</div>
          </div>
      </div>
  {% endif %}

  <div class="list">
    {% if logged %}
      <a href="{{ order }}" class="item {% if (route == 'account/order') or (route == 'account/order/info') %}active{% endif %}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.2839 6.88048C21.2829 6.87848 21.284 6.8765 21.283 6.8745C21.281 6.8695 21.2759 6.8665 21.2739 6.8615C20.8869 6.1585 20.284 5.57849 19.522 5.23949L13.522 2.5725C12.553 2.1425 11.444 2.1425 10.475 2.5725L4.47498 5.23949C3.71198 5.57849 3.1099 6.1585 2.7229 6.8615C2.7209 6.8665 2.71599 6.8695 2.71399 6.8745C2.71299 6.8765 2.71389 6.87848 2.71289 6.88048C2.41989 7.41948 2.25 8.02749 2.25 8.66549V15.3325C2.25 16.8125 3.12393 18.1575 4.47693 18.7595L10.4769 21.4265C10.9589 21.6405 11.4759 21.7465 11.9929 21.7485C11.9959 21.7485 11.998 21.7495 12.001 21.7495C12.004 21.7495 12.0059 21.7485 12.0089 21.7485C12.5259 21.7475 13.0429 21.6405 13.5249 21.4265L19.5249 18.7595C20.8779 18.1585 21.752 16.8135 21.752 15.3325V8.66549C21.747 8.02749 21.5769 7.41848 21.2839 6.88048ZM11.083 3.9425C11.373 3.8135 11.6859 3.74849 11.9969 3.74849C12.3079 3.74849 12.6209 3.81249 12.9109 3.94149L18.9109 6.60848C19.0809 6.68448 19.2299 6.7895 19.3729 6.9005L16.6399 8.1155L9.38098 4.69851L11.083 3.9425ZM7.56995 5.5035L14.829 8.92049L12.917 9.7705C12.331 10.0255 11.6599 10.0255 11.0819 9.77248L4.62097 6.9005C4.76397 6.7895 4.91301 6.68348 5.08301 6.60848L7.56995 5.5035ZM5.08301 17.3875C4.27101 17.0265 3.74695 16.2195 3.74695 15.3315V8.66448C3.74695 8.49948 3.78289 8.34151 3.81689 8.18551L10.4769 11.1455C10.7259 11.2535 10.9839 11.3325 11.2469 11.3845V20.1065C11.1929 20.0875 11.136 20.0765 11.083 20.0535L5.08301 17.3875ZM20.2469 15.3315C20.2469 16.2195 19.7229 17.0265 18.9109 17.3875L12.9109 20.0545C12.8579 20.0785 12.8009 20.0885 12.7469 20.1075V11.3845C13.0109 11.3315 13.271 11.2525 13.521 11.1435L15.876 10.0965V11.8885C15.876 12.3025 16.212 12.6385 16.626 12.6385C17.04 12.6385 17.376 12.3025 17.376 11.8885V9.4305L20.1759 8.18648C20.2109 8.34348 20.246 8.50049 20.246 8.66549V15.3315H20.2469Z" fill="#1A2540"/>
          </svg>
          <span class="text">{{ text_order }}</span>
          {% if order_total > 0 %}
            <span class="count">{{ order_total }}</span>
          {% endif %}
      </a>
      <a href="{{ return }}" class="item {% if (route == 'account/return') or (route == 'account/return/add') or (route == 'account/return/info') %}active{% endif %}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.85 15.6C14.85 16.0142 15.1858 16.35 15.6 16.35C16.0142 16.35 16.35 16.0142 16.35 15.6H14.85ZM8.4 10.2L7.98397 9.57596C7.63933 9.80573 7.5462 10.2714 7.77596 10.616L8.4 10.2ZM9.57596 13.316C9.80573 13.6607 10.2714 13.7538 10.616 13.524C10.9607 13.2943 11.0538 12.8286 10.824 12.484L9.57596 13.316ZM11.516 9.02404C11.8607 8.79427 11.9538 8.32862 11.724 7.98397C11.4943 7.63933 11.0286 7.5462 10.684 7.77596L11.516 9.02404ZM16.35 15.6C16.35 13.5091 15.2889 11.9412 13.766 10.926C12.2654 9.92554 10.3113 9.45 8.4 9.45V10.95C10.0887 10.95 11.7346 11.3745 12.934 12.174C14.1111 12.9588 14.85 14.0909 14.85 15.6H16.35ZM7.77596 10.616L9.57596 13.316L10.824 12.484L9.02404 9.78397L7.77596 10.616ZM8.81602 10.824L11.516 9.02404L10.684 7.77596L7.98397 9.57596L8.81602 10.824ZM6.6 3.75H17.4V2.25H6.6V3.75ZM20.25 6.6V17.4H21.75V6.6H20.25ZM17.4 20.25H6.6V21.75H17.4V20.25ZM3.75 17.4V6.6H2.25V17.4H3.75ZM6.6 20.25C5.02599 20.25 3.75 18.974 3.75 17.4H2.25C2.25 19.8024 4.19756 21.75 6.6 21.75V20.25ZM20.25 17.4C20.25 18.974 18.974 20.25 17.4 20.25V21.75C19.8024 21.75 21.75 19.8024 21.75 17.4H20.25ZM17.4 3.75C18.974 3.75 20.25 5.02599 20.25 6.6H21.75C21.75 4.19756 19.8024 2.25 17.4 2.25V3.75ZM6.6 2.25C4.19756 2.25 2.25 4.19756 2.25 6.6H3.75C3.75 5.02599 5.02599 3.75 6.6 3.75V2.25Z" fill="#1A2540"/>
          </svg>
          <span class="text">{{ text_return }}</span>
          {% if return_total > 0 %}
              <span class="count">{{ return_total }}</span>
          {% endif %}
      </a>
      <a href="{{ wishlist }}" class="item {% if route == 'account/wishlist' %}active{% endif %}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.25 8.72156C21.25 9.88156 20.81 11.0516 19.92 11.9416L18.44 13.4216L12.07 19.7916C12.04 19.8216 12.03 19.8316 12 19.8516C11.97 19.8316 11.96 19.8216 11.93 19.7916L4.08 11.9416C3.19 11.0516 2.75 9.89156 2.75 8.72156C2.75 7.55156 3.19 6.38156 4.08 5.49156C5.86 3.72156 8.74 3.72156 10.52 5.49156L11.99 6.97156L13.47 5.49156C15.25 3.72156 18.12 3.72156 19.9 5.49156C20.81 6.38156 21.25 7.54156 21.25 8.72156Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="text">{{ text_wishlist }}</span>
          {% if order_total_wishlist > 0 %}
              <span class="count">{{ order_total_wishlist }}</span>
          {% endif %}
      </a>
      <a href="{{ edit }}" class="item {% if route == 'account/edit' %}active{% endif %}">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22.7499C11.92 22.7499 11.8399 22.7368 11.7629 22.7108C10.1739 22.1808 2.25 19.1218 2.25 10.8878V4.99987C2.25 4.64287 2.50203 4.33376 2.85303 4.26476C7.73303 3.28876 9.46305 2.43087 11.6541 1.34387C11.8661 1.23887 12.146 1.22495 12.356 1.32995C14.515 2.41895 16.2209 3.27876 21.1479 4.26476C21.4989 4.33476 21.751 4.64287 21.751 4.99987V10.8888C21.751 19.1228 13.827 22.1818 12.238 22.7118C12.16 22.7368 12.08 22.7499 12 22.7499ZM3.75 5.61193V10.8878C3.75 17.7528 10.168 20.5479 12 21.2049C13.832 20.5479 20.25 17.7518 20.25 10.8878V5.61193C15.827 4.68593 13.9679 3.81876 12.0149 2.83776C9.93789 3.86476 8.135 4.69593 3.75 5.61193ZM12.0061 12.0499C10.6831 12.0499 9.60693 10.9728 9.60693 9.64977C9.60693 8.32677 10.6831 7.24987 12.0061 7.24987C13.3291 7.24987 14.406 8.32677 14.406 9.64977C14.406 10.9728 13.3291 12.0499 12.0061 12.0499ZM12.0061 8.74987C11.5101 8.74987 11.1069 9.15377 11.1069 9.64977C11.1069 10.1458 11.5101 10.5499 12.0061 10.5499C12.5021 10.5499 12.906 10.1458 12.906 9.64977C12.906 9.15377 12.5021 8.74987 12.0061 8.74987ZM15 16.7499C14.586 16.7499 14.25 16.4139 14.25 15.9999V15.6969C14.25 14.9769 13.7531 14.2499 12.6421 14.2499H11.3589C10.2479 14.2499 9.75098 14.9769 9.75098 15.6969V15.9999C9.75098 16.4139 9.41498 16.7499 9.00098 16.7499C8.58698 16.7499 8.25098 16.4139 8.25098 15.9999V15.6969C8.25098 14.2329 9.31789 12.7499 11.3589 12.7499H12.6421C14.6831 12.7499 15.75 14.2319 15.75 15.6969V15.9999C15.75 16.4139 15.414 16.7499 15 16.7499Z" fill="#1A2540"/>
          </svg>
          <span class="text">{{ text_edit }}</span>
      </a>
    {% endif %}
  </div>
</div>
