<h3>{{ heading_title }}</h3>
<div class="o-owl o-owl-blog-latest">
    <div class="owl-carousel">{% for article in articles %}
            <div class="product-layout">
            <div class="product-thumb">
                <div class="image"><a href="{{ article.href }}"><img src="{{ article.thumb }}" alt="{{ article.name }}"
                                                                     title="{{ article.name }}" class="img-responsive"/></a>
                </div>
                <div class="caption"><h4><a href="{{ article.href }}">{{ article.name }}</a></h4>
                    <p>{{ article.description }}</p></div>
            </div>
            </div>{% endfor %}</div>
</div>
